apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: node-mirth-hpa
  namespace: mirth-cluster
  labels:
    app: node-mirth
    app.kubernetes.io/part-of: mirth-connect
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: node-mirth
  minReplicas: 2
  maxReplicas: 6
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 30
      policies:
        - type: Pods
          value: 2
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 120
      policies:
        - type: Pods
          value: 1
          periodSeconds: 120
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 75
