apiVersion: batch/v1
kind: Job
metadata:
  name: k6-api-load
  namespace: mirth-k6
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: k6
        image: grafana/k6:latest
        command: ['k6', 'run', '/scripts/api-load.js']
        env:
        - name: MIRTH_URL
          value: "http://node-mirth.mirth-cluster.svc.cluster.local:8080"
        volumeMounts:
        - name: scripts
          mountPath: /scripts
      volumes:
      - name: scripts
        configMap:
          name: k6-scripts
