apiVersion: apps/v1
kind: Deployment
metadata:
  name: mailhog
  namespace: mirth-infra
  labels:
    app: mailhog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mailhog
  template:
    metadata:
      labels:
        app: mailhog
    spec:
      containers:
        - name: mailhog
          image: mailhog/mailhog:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 1025
              name: smtp
            - containerPort: 8025
              name: web
          readinessProbe:
            tcpSocket:
              port: 1025
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 200m
