apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: mirth-infra
data:
  custom.cnf: |
    [mysqld]
    max_connections=200
    innodb_buffer_pool_size=256M
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci
    innodb_log_file_size=64M
    innodb_flush_log_at_trx_commit=1
    max_allowed_packet=64M
    sort_buffer_size=2M
    join_buffer_size=2M
    tmp_table_size=64M
    max_heap_table_size=64M
