apiVersion: v1
kind: Service
metadata:
  name: orthanc
  namespace: mirth-infra
  labels:
    app: orthanc
spec:
  type: ClusterIP
  ports:
    - port: 8042
      targetPort: 8042
      protocol: TCP
      name: web
    - port: 4242
      targetPort: 4242
      protocol: TCP
      name: dicom
  selector:
    app: orthanc
